@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
* {
    -webkit-transition: all linear 0.2s;
    transition: all linear 0.2s;
}

:root{
     --midnight-blue: #082740;
     --golden-yellow: #fab40a;
     --title-color: #33312d;
     --text-color: #535353;
}
body{
    font-family: "Poppins", sans-serif;
    text-decoration: none;
    list-style: none;
}
ul{
    text-decoration: none;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}

.container {
    width: 100%;
    max-width: 1140px;
    margin-inline: auto;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.common-btn {
    color: #fff;
    padding: 16px 34px;
    background-color: var(--golden-yellow);
    font-size: 15px;
    box-shadow: none;
    font-weight: 600;
    border: none;
    border-radius: 30px;
    border-radius: 6px;
    letter-spacing: 0.04em;
    cursor: pointer;
    transition: all linear 0.2s;
}
.common-btn:hover{
    background-color: #e8a80b;
}


/* header */
.header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
}
.header-top{
    background-color: var(--midnight-blue);
    padding-block: 8px;
    position: relative;
    z-index: 99;
}
.header-top-wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header-top-social-icons{
    display: flex;
    align-items: center;
    justify-content: left;
    padding-left: 179px;
}
.header-top-social-icons a{
    font-size: 16px;
    color: var(--golden-yellow);
    margin-left: 0;
    padding: 0 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .3s ease-in-out;
}
.header-top-social-icons a svg{
    margin: 0 3px;
}
.header-top-social-icons a:hover svg{
    fill: #fff;
}
.header-top-links ul{
    display: flex;
    align-items: center;
}
.header-top-links ul li a{
    text-decoration: none;
    font-size: 12px;
    color: #fff;
    margin-left: 10px;
    padding-left: 10px;
    border-left: 1px solid rgba(255, 255, 255, 0.6);
}
.header-top-links ul li:first-child a {
    border-left: none;
    margin-left: 0;
    padding-left: 0;
}

.header-top-links ul li:last-child a {
    border-left: none;
    margin-left: 0;
    padding-left: 5px;
}

.header-top-links ul li{
    list-style: none;
}

.p-left-8{
    padding-left: 8px;
}

.trip-btn{
    display:inline-block;
}

.trip-btn a{
    position:relative;
    display:inline-flex;
    align-items:center;
    justify-content:center;
    padding:5px;
    background:#082740;
    color: var(--golden-yellow) !important;
    text-decoration:none;
    text-transform:uppercase;
    font-size:12px;
    font-weight:400;
    overflow:hidden;
    transition:.3s;
}

.trip-btn a:hover{
    color:#fff !important;
    background-color: var(--golden-yellow);
}

/* TOP */

.trip-btn a span:nth-child(1){
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:0.5px;
    background:#FAB40A;
    animation:topBorder 2s linear infinite;
}

/* RIGHT */

.trip-btn a span:nth-child(2){
    position:absolute;
    top:0;
    right:0;
    width:0.5px;
    height:100%;
    background:#FAB40A;
    animation:rightBorder 2s linear infinite;
    animation-delay:1s;
}

/* BOTTOM */

.trip-btn a span:nth-child(3){
    position:absolute;
    bottom:0;
    right:0;
    width:100%;
    height:0.5px;
    background:#FAB40A;
    animation:bottomBorder 2s linear infinite;
}

/* LEFT */

.trip-btn a span:nth-child(4){
    position:absolute;
    top:0;
    left:0;
    width:0.5px;
    height:100%;
    background:#FAB40A;
    animation:leftBorder 2s linear infinite;
    animation-delay:1s;
}

/* Animations */

@keyframes topBorder{
    from{
        transform:translateX(-100%);
    }
    to{
        transform:translateX(100%);
    }
}

@keyframes rightBorder{
    from{
        transform:translateY(-100%);
    }
    to{
        transform:translateY(100%);
    }
}

@keyframes bottomBorder{
    from{
        transform:translateX(100%);
    }
    to{
        transform:translateX(-100%);
    }
}

@keyframes leftBorder{
    from{
        transform:translateY(100%);
    }
    to{
        transform:translateY(-100%);
    }
}

/* nav-bar-css */
.main-nav{
    position: relative;
    background-color: rgba(8, 39, 64, 0.2);
    transition: transform 0.3s ease;
}
.main-nav:hover{
        background: #fff;
}
.nav-row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    padding:10px 15px;
    padding-right: 0px !important;
}
.nav-logo{
    padding-inline: 15px;
}
.logo{
    width: 100%;
    max-width: 145px;
    background-color: var(--midnight-blue);
    padding: 25px;
    padding-top: 0;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    position: absolute;
    top: -19px;
    left: 0;
    z-index: 99;
}

.logo a img{
    width: 100%;
    max-width: 95px;
}
.nav-links{
    padding: 15px;
    padding-right: 0px;
}
.nav-menu ul{
    display: flex;
    align-items: center;
}
.nav-menu ul li a{
    font-size: 16px;
    font-weight: 600;
    padding: 15px 8px;
    color: #fff;
    text-transform: uppercase;
    border-radius: 6px;
    transition: all linear 0.2s;
}
.nav-menu ul li a:hover{
    color: var(--golden-yellow) !important;
}

.main-nav:hover .nav-menu ul li a{
    color: var(--title-color);
}

/* hero-section */
.hero-section{
    height: 100dvh;
    min-height: 680px;
    overflow: hidden;
    position: relative;
}
.video-frame{
    height: 100%;
}
.video-frame video{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: bottom;
}
.hero-overlay{
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(8, 39, 64, 0.4);
    z-index: 1;
    width: 100%;
    height: 100%;
    display: flex;
    padding-bottom: 60px;
    justify-content: flex-end !important;
    flex-direction: column !important;
}
.hero-content{
    max-width: 1140px;
}
.hero-search-form{
    background-color: rgba(8, 39, 64, 0.5);
    padding: 30px;
    border-radius: 12px;
    max-width: 700px;
    margin: 0 auto;
}
.hero-form-text{
    margin-bottom: 30px;
    display: flex;
    align-items: center;
}
.hero-form-icon{
    overflow: hidden;
    position: relative;
    width: 100%;
    max-width: 160px;
    max-height: 160px;
}
.hero-form-icon img{
    width: 100%;
}
.hero-form-title{
    padding-left: 20px;
    flex: 1;
}
.hero-form-title{
    display: block;
}
.hero-form-title small{
    font-size: 26px;
    font-weight: 700;
    letter-spacing: 0.01em;
    color: #fff;
    text-transform: uppercase;
}
.text-color{
    color: var(--golden-yellow);
}
.hero-form-title b{
    font-size: 48px;
    font-weight: 800;
    line-height: 55px;
    color: #fff;
    display: block;
}
.form-wrapper{
    position: relative;
    overflow: hidden;
    border-radius: 6px;
    margin-bottom: 0;
}
.form-wrapper input{
    width: 100%;
    font-size: 13px;
    padding: 16px;
    border: 2px solid #eee;
    border-radius: 5px;
    position: relative;
}
.form-wrapper input:focus,
.form-wrapper input:focus-visible {
    border: 2px solid var(--golden-yellow);
    outline: none;
    box-shadow: none;
}

.hero-btn {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
}

/* about-section */
.about-section{
    background-image: url(./images/about_bg.jpg);
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    padding-bottom: 90px;
}
.about-sec-top{
    padding-bottom: 90px;
    padding-left: 3rem !important;
    padding-top: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.about-item{
    width: calc(25% - 10px);
    padding-inline: 14px;
    margin-top: 48px;
}
.about-icon{
    text-align: center;
}
.icon-thumb{
    width: 160px;
    height: 160px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: #F5F5F5;
    outline: 2px solid #f0f0f0;
    outline-offset: 8px;
    overflow: hidden;
    transition: all linear 0.2s;
}
.icon-thumb:hover{
    background-color: #FCA51F;
    outline-color: #FCA51F;
    outline-width: 2px;
}
.icon-thumb img{
    max-width: 60px;
    min-width: 40px;
    vertical-align: middle;
    border-style: none;
}
.about-icon-text{
    margin-top: 1rem;
}
.about-icon-sub-title{
    display: inline-block;
    font-size: 30px;
    color: var(--title-color);
    font-weight: 700;
}
.about-icon-text h5{
    font-weight: 500;
    font-size: 18px;
    color: #212529;
    line-height: 1.5;
}
.about-sec-bottom{
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    justify-content: space-between;
}
.about-img-wrapper{
    padding-inline: 15px;
    width: 50%;
}
.about-img{
    border-radius: 10px;
    overflow: hidden;
}
.about-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.about-intro-text{
    width: 50%;
    padding-left: 40px;
    padding-block: .5rem;
}
.about-title-wrapper{
    display: flex;
    align-items: center;
}
.about-5k b{
    font-size: 120px;
    font-weight: 800;
    color: var(--title-color);
    line-height: 95px;
}
.about-5k-right{
        padding-left: 15px;
}
.about-5k-right h2{
    font-size: 40px;
    font-weight: 800;
    letter-spacing: 0.025em;
    text-transform: uppercase;
    color: var(--golden-yellow);
    line-height: 1.2;
}

.about-5k-right span{
    font-size: 18px;
    letter-spacing: 0.06em;
    font-weight: 700;
    margin-top: 10px;
    display: block;
    line-height: 1.5;
    color: #212529;
    text-align: left;
}
.about-intro-text p{
    font-size: 15px;
    line-height: 24px;
    color: var(--text-color);
    margin-top: 30px;
    padding-bottom: 40px;
    font-weight: 300;
}
/* exp-section */
.exp-section{
    background-image: url(./images/section-3-img.jpeg);
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    display: block;
}
.exp-overlay{
    background-color: rgba(8, 39, 64, 0.6);
    padding-block: 90px;
}
.exp-row-inner{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-inline: 15px;
    width: 33.333%;
}
.exp-row{
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-end;
}
.icon-thumb small{
    font-size: 14px;
    font-weight: 700;
    color: var(--title-color);
    display: block;
}

.icon-thumb b {
    font-size: 30px;
    font-weight: 800;
    line-height: 36px;
    display: block;
    color: var(--title-color);
}
.exp-icon{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 4px;
}
.exp-col-title{
    margin-top: 60px;
    text-align: center;
}
.exp-col-title img{
    width: 100%;
    max-width: 135px;
    margin-bottom: 15px;
}
.exp-col-title h2{
    font-size: 40px;
    font-weight: 800;
    letter-spacing: 0.025em;
    color: #fff;
    line-height: 1.2;
}
.exp-col-title span{
    font-weight: 700;
    font-size: 16px;
    margin-top: 10px;
    display: block;
    color: var(--golden-yellow);
    line-height: 1.5;
}

/*==========================
Tour Showcase
===========================*/
.tour-showCase-sec{
    padding-block: 90px;
}
.tour-showcase{
    width:100%;
    display:grid;
    grid-template-columns:40% 60%;
    gap:70px;
}

/*==========================
LEFT
===========================*/
.tour-item-wrapper{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
}
.tour-icon-thumb{
    width: 90px !important;
    height: 90px !important;
}
.tour-icon-thumb img{
    max-width: 100% !important;
}
.tour-list{
    display:flex;
    flex-direction:column;
}
.tour-list h2{
    font-size: 40px;
    font-weight: 800;
    letter-spacing: 0.025em;
    color: var(--title-color);
    margin-bottom: 30px;
    line-height: 1.2;
}

.tour-item{
    margin-bottom: 20px;
    cursor:pointer;
    transition:.35s;
}
.tour-SC-text-left{
    margin-left: 20px;
}
.tour-SC-text-left span{
    display:block;
    font-size:14px;
    color: #082740;
    margin-bottom:5px;
    font-weight: 500;
    line-height: 1.5;
}

.tour-SC-text-left h3{
    font-size: 20px;
    color: var(--title-color);
    font-size: 18px;
    font-weight: 700;
    -webkit-transition: none;
    transition: none;
}

/* .tour-item:hover h3{
    color:#d4a017;
} */

.tour-item.active h3{
    color:#d4a017;
}
.tour-item.active .tour-icon-thumb{
    background-color: var(--golden-yellow);
    outline-color: var(--golden-yellow);
}



/*==========================
RIGHT
===========================*/

.tour-preview{
    position:sticky;
    top:110px;
    height:fit-content;
}

.preview-image{
    position:relative;
    overflow:hidden;
    border-radius:10px;
    height:480px;
}

.preview-image img{
    width:100%;
    height:100%;
    object-fit:cover;
    display:block;
    transition:.5s;
    margin-bottom: 1rem;
}

/*==========================
Overlay
===========================*/

.preview-image::before{
    content:"";
    position:absolute;
    inset:0;
    background:linear-gradient(to top,
    rgba(0,0,0,.82),
    rgba(0,0,0,.20),
    transparent);
    z-index:1;
}

/*==========================
Bottom Content
===========================*/

.image-overlay{
    position:absolute;
    left:50%;
    bottom:30px;
    transform:translateX(-50%);
    width:90%;
    display: flex;
    align-items: center;
    flex-direction: column;
    z-index:5;
}

.company-logo{
    width:120px !important;
    object-fit:contain !important;
    margin-bottom:18px;
    filter: grayscale(100%) invert(1);
}

#previewTitle{
    font-size: 26px;
    font-weight: 700;
    line-height: 34px;
    color: #fff !important;
    text-transform: uppercase;
}

.preview-buttons{
    display:flex;
    justify-content:center;
    gap:18px;
    margin-top: 1rem;
}

/* .preview-buttons a{
    text-decoration:none;
    padding:16px 34px;
    border-radius:50px;
    font-weight:600;
    transition:.35s;
} */

.btn-details{
    background: var(--golden-yellow);
    color:#fff;
}

.btn-book{
    background:#1664a4;
    color:#fff;
}

.btn-details:hover{
    background:#d4a017;
    color:#fff;
}

.btn-book:hover{
    background:#d4a017;
}

/*==========================
Image Animation
===========================*/

.preview-image img.fade{
    opacity:.25;
    transform:scale(1.08);
}

/*==========================
Responsive
===========================*/

@media(max-width:991px){

.tour-showcase{

grid-template-columns:1fr;

gap:40px;

}

.tour-preview{

position:relative;

top:0;

}

.preview-image{

height:420px;

}

#previewTitle{

font-size:28px;

}

}

@media(max-width:767px){

.preview-image{

height:350px;

}

.preview-buttons{

flex-direction:column;

}

.preview-buttons a{

width:100%;

}

.tour-item h3{

font-size:22px;

}

}
/* .popular-pkg-sec */
.popular-pkg-sec{
    padding-bottom: 9px;
}
.title-pkg-sec{
    padding-block: 60px;
    background-color: var(--midnight-blue);
    text-align: center;
}
.title-pkg-sec h2{
    font-size: 40px;
    font-weight: 800;
    letter-spacing: 0.025em;
    color: #fff;
}
.title-pkg-sec span{
    display: inline;
    font-size: 40px;
    font-weight: 800;
    letter-spacing: 0.025em;
    color: var(--golden-yellow);
}
.pkg-card-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 16px;
    padding-bottom: 90px;
}
.pkg-card-block{
    margin-top: 30px;
    padding-inline: 15px;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
}
.pkg-card{
     padding: 5px;
    overflow: hidden;
    position: relative;
    
}
.pkg-card-sticker{
    position: absolute;
    width: 280px;
    text-align: center;
    padding: 12px;
    transform: rotate(-30deg);
    -webkit-transform: rotate(-30deg);
    -moz-transform: rotate(-30deg);
    -ms-transform: rotate(-30deg);
    -o-transform: rotate(-30deg);
    top: 20px;
    left: -75px;
    z-index: 2;
    background-color: #0f4b7a;
    display: block;
    color: #fff;
}
.pkg-card-sticker span{
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #fff;
}

.sticker-after {
    top: 0;
    left: 177px;
}
.sticker-tringle {
    content: "";
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid var(--midnight-blue);
    position: absolute;
    transform: rotate(30deg);
    -webkit-transform: rotate(30deg);
    -moz-transform: rotate(30deg);
    -ms-transform: rotate(30deg);
    -o-transform: rotate(30deg);
    z-index: -1;
}
.sticker-before {
    top: 104px;
    left: -3px;
}
.pkg-card-img{
    height: 300px;
    position: relative;
    border-radius: 8px;
    overflow: hidden;
    transition: all linear 0.2s;
}
.pkg-card-img:hover .pkg-overview{
    min-height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgba(51, 101, 138, 0.7);
}
.pkg-card-img img{
    height: 100%;
    object-fit: cover;
}
.pkg-overview{
    background: linear-gradient(rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 1));
    padding: 15px 20px;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    min-height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    transition: all linear 0.2s;
}

.pkg-card-subtitle{
    font-size: 14px;
    color: var(--golden-yellow);
    line-height: 1.5;
    font-weight: 400;
    display: block;
}
.overview-in span{
    font-size: 16px;
    font-weight: 800;
    color: #fff;
    line-height: 1.5;
}
.dollor-sign{
    font-size: 30px;
    font-weight: 800;
    display: none;
    color: #fff;
}
.dollor-sign small{
    font-size: 16px;
    font-weight: 700;
    margin-right: 10px;
    vertical-align: middle;
    display: inline-block;
    columns: var(--golden-yellow);
}
.pkg-card-link{
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 1;
    top: 0;
    left: 0;
    display: inline-block;
}
.pkg-card-heading{
    margin-top: 20px;
}
.pkg-card-heading a{
    display: inline-block;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.2;
    text-align: left;
    color: var(--title-color);
}
.pkg-card-heading a:hover{
    color: var(--golden-yellow);
}
.pkg-card-bottom{
    margin-top: 1rem;
    display: flex;
    align-items: center;
}

.pkg-card-bottom a{
    font-size: 15px;
    color: var(--golden-yellow);
    font-weight: 600;
    display: inline-flex;
    text-align: center;
}
.pkg-card-bottom a:hover{
    color: #e8a80b;
}
.pkg-card-bottom svg{
    margin-left: .25rem;
    display: inline-block;
    top: 4px;
    position: relative;
}
.pkg-booking-btn{
    background-color: #104c7d;
    font-size: 14px !important;
    padding: 6px 15px;
    font-weight: 600 !important;
    border-radius: 6px;
    letter-spacing: 0.04em;
    border: none;
    box-shadow: none;
    color: #fff !important;
    margin-left: auto;
    text-transform: uppercase;
}
.pkg-booking-btn:hover{
    background-color: #e8a80b;
}